services:
  mysql:
    image: mysql:8.0
    container_name: mysql_db_spring
    restart: unless-stopped
    ports:
      - "3306:3306"
    environment:
      MYSQL_ROOT_PASSWORD: root
    volumes:
      - mysql_data:/var/lib/mysql
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      interval: 10s
      timeout: 5s
      retries: 10
      start_period: 30s
  odoo:
    image: odoo:16
    restart: always
    ports:
      - "8069:8069"
    links:
      - db
    environment:
      - USER=odoo
      - PASSWORD=odoo
    volumes:
      - ./Sprint_3/Services/Odoo/extra-addons:/mnt/extra-addons
      - ./Sprint_3/Services/Odoo/config:/etc/odoo
      - ./Sprint_3/Services/Odoo/log:/var/log/odoo

  db:
    image: postgres:14
    restart: always
    ports:
      - "5432:5432"
    environment:
      - POSTGRES_USER=odoo
      - POSTGRES_PASSWORD=odoo
      - POSTGRES_DB=postgres
      - PGDATA=/var/lib/postgresql/data/pgdata
    volumes:
      - ./Sprint_3/Services/Odoo/datos_db:/var/lib/postgresql/data/
volumes:
  mysql_data:
