services:
  mysql:
    image: mysql:8.0
    container_name: mysql_db_spring
    restart: unless-stopped
    ports:
      - "3306:3306"
    environment:
      MYSQL_ROOT_PASSWORD: root
    volumes:
      - mysql_data:/var/lib/mysql
    healthcheck:
      test: [ "CMD", "mysqladmin", "ping", "-h", "localhost" ]
      interval: 10s
      timeout: 5s
      retries: 10
      start_period: 30s
  odoo:
    build: .
    restart: always
    ports:
      - "8069:8069"
    depends_on:
      - db
    environment:
      - HOST=db
      - USER=odoo
      - PASSWORD=odoo
    volumes:
      - ./Sprint_3/Services/Odoo/extra-addons:/mnt/extra-addons
      - ./Sprint_3/Services/Odoo/config:/etc/odoo
      - ./Sprint_3/Services/Odoo/log:/var/log/odoo
      - ./Sprint_3/Services/Odoo/filestore:/var/lib/odoo/.local/share/Odoo
  db:
    image: postgres:15
    restart: always
    ports:
      - "5432:5432"
    environment:
      - POSTGRES_USER=odoo
      - POSTGRES_PASSWORD=odoo
      - POSTGRES_DB=postgres
      - PGDATA=/var/lib/postgresql/data/pgdata
    volumes:
      - ./Sprint_3/Services/Odoo/datos_db:/var/lib/postgresql/data/
  express_app:
    build: ./Sprint_3/Services/Express
    container_name: express_ffmpeg_service
    restart: unless-stopped
    ports:
      - "3000:3000"
    volumes:
      - ./Sprint_3/Services/Express:/app
      - /app/node_modules
volumes:
  mysql_data:
